5.2 Lists - homogenous (Same data type) & hetergeneous (Different data types). 
    * Reference a  list element by writing the list's name followed by the element's index, aka position number enclused in square brackes [] known as the subscription operator.
    * Lists are mutable, their elements can be modified. Strings and tuples are immutable.
    * use += to append values to lists
    * concatenate using the +; example: list1 + list2

In [1]:
c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

In [3]:
c[2]

0

In [4]:
len(c)

5

In [5]:
c[-3]

0

In [6]:
c[4] = 17

In [7]:
c

[-45, 6, 0, 72, 17]

In [8]:
a_list = []

for number in range (1,6):
    a_list += [number]
    
a_list

[1, 2, 3, 4, 5]

In [9]:
letters = []

letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

In [10]:
concatenated_list = a_list + letters

concatenated_list

[1, 2, 3, 4, 5, 'P', 'y', 't', 'h', 'o', 'n']

In [11]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3
        
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numbers)

numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
characters = []

characters += 'Birthday'

characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [1]:
print('My name is Kim Leach')

My name is Kim Leach

5.3 Tuples - tuples are immutable and typically store heterogenous data, but the data can be homogenous. A tuple's length is its number of elements and cannot change during program execution. 
    * To create an empty tuple, use empty parentheses: student_tuple = ()
    * You can pack a tuple by separating its values with commas
    * The += augmented assignment statement can be used with strings and tuples even though they're immutable. The item to the right of the += must be a string or tuple respectively.

In [2]:
student_tuple = ()

student_tuple = 'Kim', 'Leach', 3.3

In [3]:
student_tuple

('Kim', 'Leach', 3.3)

In [4]:
another_student_tuple = ('Kim', 'Teal', 3.3)

In [5]:
another_student_tuple

('Kim', 'Teal', 3.3)

In [16]:
time_tuple = (9, 16, 1)

time_tuple

(9, 16, 1)

In [17]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [18]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [19]:
tuple1 += (40, 50)

tuple1

(10, 20, 30, 40, 50)

In [20]:
tuple2

(10, 20, 30)

In [21]:
all = tuple1 + tuple2

In [22]:
all

(10, 20, 30, 40, 50, 10, 20, 30)

In [23]:
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [6]:
#tuples may contain mutable objects

student_tuple = ('Kim Leach', 'Blue', [98, 75, 87])

In [7]:
student_tuple[2][1] = 85

student_tuple

('Kim Leach', 'Blue', [98, 85, 87])

In [26]:
len(student_tuple)

3

In [70]:
list1 = [1, 2, 3]
tuple1 = (4, 5, 6)

5.4 Unpacking Sequences
    * You can unpack any sequence's elements by assigning the sequece to a comma-separated list of variables.

In [8]:
first_name, color, grades = student_tuple

first_name

'Kim Leach'

In [9]:
color

'Blue'

In [30]:
grades

[98, 85, 87]

In [10]:
first, second, third = 'kim'

print(f'{first} {second} {third}')

k i m

In [33]:
colors = ['red', 'orange', 'yellow']

In [39]:
# fig05_01.py
"""Displaying a bar chard"""

numbers = [19, 3, 15, 7, 11]

print('/nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}    Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}    {"*" * value}')

/nCreating a bar chart from numbers:
Index   Value    Bar
    0      19    *******************
    1       3    ***
    2      15    ***************
    3       7    *******
    4      11    ***********

5.5 Sequence Slicing
    * You can slice sequences to create new sequences of the same type containing subsets of the original elements.
    * Slice operations can modify mutable sequences -- those that do not modify a sequence work identically for lists, tuples, and strings.

In [41]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers[2:6] # includes 2 which should start at 4 through but not including 6 so it should end at 7

[4, 5, 6, 7]

In [42]:
numbers[:6] # if no starting index selected 0 is assumed

[2, 3, 4, 5, 6, 7]

In [44]:
numbers[6:] # if no ending index selected 0 is assumed, so it should go to the final number

[8, 9, 10]

In [45]:
numbers[:] # omitting the starint and ending indeces copies the entire sequence

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
numbers[::2] # creates a step of 2 ot create a slice with every other element of numbers

[2, 4, 6, 8, 10]

In [48]:
numbers[::-1] # use a negative step to select slices in reverse order

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [49]:
numbers[0:3] = ['two', 'three', 'five']

numbers

['two', 'three', 'five', 5, 6, 7, 8, 9, 10]

In [50]:
numbers[0:3] = [] # deletes only the first three elements by assiging an empty list to the three-element slice

In [51]:
numbers

[5, 6, 7, 8, 9, 10]

In [52]:
# assign a lists elements to a slice of everyother element of numbers:

numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers[::2] = [100, 100, 100, 100]

In [53]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [54]:
id(numbers)

1442452120512

In [55]:
#delete all the elements leaving the existing list empty
numbers[:] = []

numbers

[]

In [56]:
id(numbers)

1442452120512

In [57]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [58]:
numbers[1::2]

[2, 4, 6, 8, 10, 12, 14]

In [64]:
numbers[4:10] = [0, 0, 0, 0, 0, 0]
numbers

[1, 2, 3, 4, 0, 0, 0, 0, 0, 0]

In [62]:
numbers[:5]

[1, 2, 3, 4, 0]

In [63]:
numbers[6:] = []
numbers

[1, 2, 3, 4, 0, 0]

In [72]:
del list

In [80]:
numbers = list(range(0,10))

In [81]:
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
del numbers[0:2]
numbers

[2, 3, 4, 5, 6, 7, 8]

In [83]:
del numbers[::2]
numbers

[3, 5, 7]

In [84]:
del numbers[:]
numbers

[]

In [85]:
del numbers
numbers

NameError: name 'numbers' is not defined

In [91]:
numbers = list(range(1,16))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [92]:
del numbers[0:4]
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [93]:
del numbers[::2]
numbers

[6, 8, 10, 12, 14]

In [ ]:
5.7 Passing Lists to Functions

In [1]:
def modify_elements(items):
    """Multiplies all element values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2
        
numbers = [10, 3, 7, 1, 9]

modify_elements(numbers)

In [2]:
numbers

[20, 6, 14, 2, 18]

In [3]:
numbers_tuple = (10, 20, 3)

numbers_tuple

(10, 20, 3)

In [4]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

5.8 Sorting Lists
    * Sorting enables you to arrane data in ascending or descending order

In [5]:
## sorting list in ascending order
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# sorting list in descending order
numbers.sort(reverse=True)
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
# built in function sorted returns a new list with the sorted elements of its argument sequence - the original sequence is unmodified.

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
ascending_numbers = sorted(numbers)
ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [12]:
letters = 'fadgchjebi'
ascending_letters = sorted(letters)
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [13]:
letters

'fadgchjebi'

In [15]:
# sorts alphabetically
colors = ('red', 'orange', 'yellow', 'green', 'blue')
ascending_colors = sorted(colors)
ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

In [21]:
# sort in descending order
descending_numbers = sorted(numbers,reverse=True)
descending_numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
# strings are compared by their character's numerical values, not their letters, so mixed cases sorts by case/alpabetical - case/alphabetical
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']
foods.sort ()
foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

5.9 Searching Sequences - searching is the proces of locating a key.

In [26]:
# list method index - takes as an argument a search key - the value to locate in the list - then searches throguh the list form inex - and returns the index of the first elementa that matches the key.

numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5) #gives the index number of the value?

6

In [27]:
# Specifying the starting index of a search - use *= to multiply a sequence, append a sequence to itself multiple times

numbers *= 2
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [28]:
# following code searches the updated list for the value 5 starting from index 7 and continuing through the end of the list
numbers.index(5, 7)

14

In [29]:
# specifying the starting and ending indices of a search: searches from starting index up to but not including the ending index location
numbers.index(7, 0, 4) #searchs for value of 7 starting at index 0 and searching through index 3, should return 1

1

In [30]:
# operators in and not in test whether the right operand's iterable contains the left operand's iterable
1000 in numbers

False

In [31]:
5 in numbers

True

In [32]:
1000 not in numbers

True

In [33]:
5 not in numbers

False

In [34]:
# use IN to ensure that calls to method index don't result in ValueError for search keys not in the corresponding sequence:

key = 1000
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

1000 not found

In [35]:
key = 5
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

found 5 at index 6

In [36]:
numbers = [67, 12, 46, 43, 13]
numbers.index(43)

3

In [37]:
if 44 in numbers:
    print(f'found 44 at index {numbers.index(key)}')
else:
    print(f'44 not found')

44 not found

5.10 Other List Methods

In [39]:
# insert an element at a specific list index

color_names = ['orange', 'yellow', 'green']
color_names.insert(0, 'red')
color_names

['red', 'orange', 'yellow', 'green']

In [40]:
# add an element to the end of a list

color_names.append('blue')
color_names

['red', 'orange', 'yellow', 'green', 'blue']

In [41]:
# adding all the elements of a sequnce to the end of a list

color_names.extend(['indigo', 'violet'])
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [42]:
# equivelant to using +=; the following adds all the characters of a string then all the elements of a tuple to a list:

sample_list = []
s = 'abc'
sample_list.extend(s)
sample_list

['a', 'b', 'c']

In [43]:
t = (1, 2, 3)
sample_list.extend(t)
sample_list

['a', 'b', 'c', 1, 2, 3]

In [44]:
# pass a tuple directly to extned; in this case the tuple's parentheses are required because extend expects one iterable argument

sample_list.extend((4, 5, 6))
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

In [45]:
#remove the first occurrence of an element in a list; remove deletes the first element with a specified value, ValueError occurs if remove's argument is not in the list

color_names.remove('green')
color_names

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet']

In [47]:
# to delete all the elements in a list, call method clear; equivalent of the previously shown slice assignment color_names[:] = []

color_names.clear()
color_names

[]

In [48]:
# counting the number of occurrences of an item; count searches for its argument and returns the number of times it's found:

responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3,
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

for i in range(1, 6): # looks for values 1 through 5
    print(f'{i} appears {responses.count(i)} times in responses') # i is the values in the list, responses.count counts occurrences

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

In [50]:
# reversing a lists elements; reverse reverses the contents of a list in place, rather than creating a reversed copy

color_names = ['red', 'orange', 'yellow', 'green', 'blue']
color_names.reverse()
color_names

['blue', 'green', 'yellow', 'orange', 'red']

In [52]:
# copying a list; copy returns a new list containing a shallow copy of the original; equivelant to slice operation copied_list = color_names[:]

copied_list = color_names.copy()

copied_list

['blue', 'green', 'yellow', 'orange', 'red']

In [53]:
rainbow = ['green', 'orange', 'violet']

In [61]:
rainbow.index('violet')

2

In [62]:
rainbow.insert(2, 'red')
rainbow

['green', 'orange', 'red', 'violet']

In [63]:
rainbow.append('yellow')
rainbow

['green', 'orange', 'red', 'violet', 'yellow']

In [64]:
rainbow.reverse()
rainbow

['yellow', 'violet', 'red', 'orange', 'green']

In [65]:
rainbow.remove('orange')
rainbow

['yellow', 'violet', 'red', 'green']

5.11 Simulating Stacks with Lists - python does not have a built-in stack type
    * You push using list method append which adds a new element to the end of the list
    * You pop using list method pop with no arguments, which removes and returns the item at the end of the list

In [66]:
#create an empty list called stack, push (append) two strings onto it, then pop the strings to confirm they're retrieved in last-in, first-out (LIFO) order:

stack = []
stack.append('red')
stack

['red']

In [67]:
stack.append('green')
stack

['red', 'green']

In [68]:
stack.pop()

'green'

In [69]:
stack

['red']

In [70]:
stack.pop()

'red'

In [71]:
stack

[]

In [72]:
stack.pop()

IndexError: pop from empty list

Each pop snippet returns the value that pop removes; popping from an empty stack produces an IndexError. To prevent an error, ensure that len(stack) is greater than 0 before calling pop.

5.12 List comprehensions: a notation for creating new lists, they can replace many for statements that iterate over existing sequences and create new lists, such as:

In [73]:
list1 = []

for item in range(1, 6):
    list1.append(item) #should produce a list from one up to but not including 6
    
list1

[1, 2, 3, 4, 5]

In [74]:
# Using a list comprehension to create a list of integers; for each item the list comprehension evaluates the expression to the left of the for clause and places the expression's value in the new list
# same as list2 = list(range(1,6))

list2 = [item for item in range(1,6)]
list2

[1, 2, 3, 4, 5]

In [76]:
# Mapping: performing operations in a list comprehensions expression; produces a result with the same number of elements as the original data beig mapped. 
# the following maps each value to its cube with the expression item ** 3

list3 = [item ** 3 for item in range(1, 6)]
list3

[1, 8, 27, 64, 125]

In [78]:
# filtering: list comprehension with if clauses; filter selects only those that match a condition - typically produces list with fewer elements than the data being filtered, use the if clause

list4 = [item for item in range(1, 11) if item % 2 == 0]
list4

[2, 4, 6, 8, 10]

In [79]:
# list comprehension that processes another list's elements: create a list of lowercase strings and use a list comp. to create a new list with their uppercase versions

colors = ['red', 'orange', 'green', 'blue']
colors2 = [item.upper() for item in colors]
colors2

['RED', 'ORANGE', 'GREEN', 'BLUE']

In [80]:
colors

['red', 'orange', 'green', 'blue']

In [81]:
# create a list of tuples containing the numbers 1-5 and their cubes; to create tupbles place parentheses around the expession to the left of the for clause

cubes = [(x, x**3) for x in range(1,6)]
cubes

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [82]:
# use a list comprehension and the range function with a step to create a list of the multiples of 3 that are less than 30

multiples = [x for x in range(3, 30, 3)]
multiples

[3, 6, 9, 12, 15, 18, 21, 24, 27]

5.13 Generator Expressions: similar to list comprehension, but creates and iterable gneragor objec that produces values on demand. This is known as a lazy evaluation.
    *List comprehensions use greedy evaluation - they create lists immediately when executed
    *Generator expressions can reduce your program's memory consumption and improve performance
    *Generator expressions have the same capabilites as list comprehensions
        *Define them in parentheses instead of square brackets

In [83]:
# returns only the odd calues in numbers

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end=' ')

9 49 1 81 25

In [84]:
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)
squares_of_odds

In [85]:
# create a gnerator expression that cubes the even integers in a list. Use function list to create a list of the results. Note that the function call's parentheses also act as the generator expression's parentheses

list(x ** 3 for x in [10, 3, 7, 1, 9, 4, 2] if x % 2 == 0)

[1000, 64, 8]

5.14 Filter, Map and Reduce: demonstrate the built-in filter and map functions; continue with redcutions of a collction of elements into a single value such as their count, total, produce, avg, min, max

In [86]:
# use filter to obtain the odd values in numbers:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

def is_odd(x):
    """returns true only if x is odd."""
    return x % 2 != 0

list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

The function is_odd returns True if its argument is odd. The filter function call is_odd once for each value in its second argument's iterable(numbers).

In [87]:
[item for item in numbers if is_odd(item)]

[3, 7, 1, 9, 5]

In [89]:
# using a lambda rather than a function; can use for simple functions that return only a single expression's value; 

list(filter(lambda x: x % 2 != 0, numbers))

[3, 7, 1, 9, 5]

A lambda expression is an anonymous function, without a name. In the filter call :filter(lambda x: x % 2 !=0, numbers): lambda x: x % 2 !=0 is the lambda. 
    * Lambda begins with keyword lambda followed by a comma-separated parameter list, a colon, and an expression
    * implicitly returns its expressions value

In [90]:
# mapping a sequence's values to new values; use the built-in function map with a labda to square each value in numbers:

list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [91]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [92]:
# combining filter and map

list(map(lambda x: x ** 2, 
         filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81, 25]

1. Filter returns an iterable for only the odd values of numbers. 
2. Map returns an iterable representing the squares of the filtered values.
3. List uses map's iterable to create the list.

In [94]:
# list comprehension in place of last snippet

[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81, 25]

In [95]:
# create a list called numbers containing 1 through 15: filter with a lambda to select only even elements, use mapwith a lambda to square the values, filter even elements then map to their squares

numbers = list(range(1, 16))

In [96]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [97]:
list(filter(lambda x: x % 2 == 0, numbers))

[2, 4, 6, 8, 10, 12, 14]

In [98]:
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [99]:
list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, numbers)))

[4, 16, 36, 64, 100, 144, 196]

In [100]:
# map a list of the three fahrenheit tmps 41, 32, 212 to a list of tuples containing the temps and their celsius equivalents; convert F to C (celsius = (F-32)*(5/9))

fahrenheit = [41, 32, 212]

list(map(lambda x: (x, (x-32) * 5 / 9), fahrenheit))

[(41, 5.0), (32, 0.0), (212, 100.0)]

5.15 other sequence procesing functions:

In [101]:
# finding the min andmax using a key function

'Red' < 'orange'

True

In [103]:
# return the numerical value of a character with ord
ord('R')

82

In [104]:
ord('o')

111

In [105]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

In [106]:
min(colors, key=lambda s:s.lower())

'Blue'

In [107]:
max(colors, key=lambda s:s.upper())

'Yellow'

In [109]:
# iterating backward through a sequence

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
reversed_numbers = [item ** 2 for item in reversed(numbers)]
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

In [11]:
# combining iterables into tubples of corresponding elements; unpack each tuple into name and gpa and display them

names = ['Kim Leach', 'Sue', 'Amanda']
grade_point_averages = [3.5, 4.0, 3.75]

for name, gpa in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={gpa}')

Name=Kim Leach; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

In [112]:
# use zip with two integer lists to create a new list containing the sum of the lements from corresponding indices in both lists

[(a + b) for a, b in zip([10, 20, 30], [1, 2, 3])]

[11, 22, 33]

5.16 two-dimensional lists: multi-dimensional lists can have more than two indices

In [113]:
a = [[77, 68, 86, 73], # student 1
     [96, 87, 89, 81], # student 2
     [70, 90, 86, 81]] # student 3

In [114]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

In [115]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ', end=' ')
    print()

a[0][0]=77  a[0][1]=68  a[0][2]=86  a[0][3]=73
a[1][0]=96  a[1][1]=87  a[1][2]=89  a[1][3]=81
a[2][0]=70  a[2][1]=90  a[2][2]=86  a[2][3]=81

5.17 Intro to data science: simulation and static visualizations
5.17.2