Chapter 6: Dictionaries and Sets
    * Dictionaries associate keys with values. Each key maps to a specific value.
    * Dictionary keys must be immutable and unique but multiple keys can have the same values. IE Key would be student ID and value might be an assessment score.
    * Unordered collctions, the display order can differ from the order the pairs were added - DO NOT write code that depends on the order of the key-value pairs

6.2: Creating a dictionary: create by enclosing in curly braces {} a comma-separated list of key-value pairs, each of the form key: value or an empty dictionary with {}

In [1]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [2]:
len(country_codes)

3

In [3]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

In [4]:
country_codes.clear()

In [5]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is empty

In [6]:
states = {'MO': 'Missouri', 'TX': 'Texas', 'NY': 'New York'}
states

{'MO': 'Missouri', 'TX': 'Texas', 'NY': 'New York'}

In [8]:
# iterating through a dictionary
days_per_month = {'January': 31, 'February': 28, 'March': 31}
days_per_month

{'January': 31, 'February': 28, 'March': 31}

In [10]:
for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

In [12]:
# accessing the value associated with a key

roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

roman_numerals['V']

5

In [13]:
roman_numerals['X']

100

In [15]:
# assigning a new key-value pair: case sensitive

roman_numerals['L'] = 50
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100, 'L': 50}

In [16]:
del roman_numerals['III']
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 100, 'L': 50}

In [17]:
roman_numerals.pop('X')
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [18]:
# attempting to access a nonexistent key results in a keyerror

roman_numerals['III']

KeyError: 'III'

In [19]:
#prevent key error by using dictionary method get; if the key is not found get returns none; you can specify a second argument to return if key not found

roman_numerals.get('III', 'not in dictionary')

'not in dictionary'

In [20]:
roman_numerals.get('V')

5

In [21]:
'V' in roman_numerals

True

In [22]:
'III' in roman_numerals

False

In [24]:
roman_numerals['x'] = 10
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50, 'x': 10}

In [29]:
months = {'January': 1, 'February': 2, 'March': 3}

for month_name in months.keys():
    print(month_name, end=' ')

January February March

In [30]:
for month_number in months.values():
    print(month_number, end=' ')

1 2 3

In [31]:
months_view = months.keys()

for key in months_view:
    print(key, end=' ')

January February March

In [33]:
months['December'] = 12
months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [34]:
months_view = months.keys()

for key in months_view:
    print(key, end=' ')

January February March December

In [35]:
# converting keys, values, and key-value pairs to lists

list(months.keys())

['January', 'February', 'March', 'December']

In [37]:
list(months.values())

[1, 2, 3, 12]

In [38]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

In [39]:
# procesing keys in sorted order use built-in sorted function
for month_name in sorted(months.keys()):
    print(month_name, end=' ')

December February January March

In [41]:
country_capitals1 = {'Belgium': 'Brussels', 'Haiti': 'Port-au-Prince'}
country_capitals2 = {'Nepal': 'Kathmandu', 'Uruguay': 'Montivideo'}
country_capitals3 = {'Belgium': 'Brussels', 'Haiti': 'Port-au-Prince'}

In [42]:
country_capitals1 == country_capitals2

False

In [43]:
country_capitals1 == country_capitals3

True

6.2.6 Example: Dictionary of Student Grades

In [44]:
# fig06_01.py
"""Using a dictionary to represent an instructor's grade book."""

grade_book = {
    'Susan': [92, 85, 100],
    'Eduardo': [83, 95, 79],
    'Azizi': [91, 89, 82],
    'Kim': [97, 91, 92]
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
    
print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Kim is 93.33
Class's average is: 89.67

6.2.7 Example: Word Counts

In [48]:
# fig06_02.py
"""Tokenizing a string and counting unique words."""

text = ('this is sample text with several words '
        'this is more sample text with others Kim Leach')

word_counts = {}

# count occurrences of each unique word
for word in text.split(): #tokenizes by separating the words using the meothod's delimiter string argument; uses space if no argument provided
    if word in word_counts:
        word_counts[word] += 1 # update existing key-value pair
    else:
        word_counts[word] = 1 # insert new key-value pair
print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')
    
print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
Kim         1
Leach       1
is          2
more        1
others      1
sample      2
several     1
text        2
this        2
with        2
words       1

Number of unique words: 11

In [51]:
from collections import Counter

In [134]:
text = ('this is sample text with several words '
        'this is more sample text with others Kim Leach')

counter = Counter(text.split())
print(f'{"WORD":<12}COUNT')
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

WORD        COUNT
Kim         1
Leach       1
is          2
more        1
others      1
sample      2
several     1
text        2
this        2
with        2
words       1

Number of unique words: 11

In [137]:
text2 = ('So bye bye Miss American Pie So bye bye Miss American Pie '
    'Drove my Chevy to the levee Drove my Chevy to the levee '
    'But the levee was dry But the levee was dry '
    'Them good old boys were drinking whiskey and rye Them good old boys were drinking whiskey and rye '
    'Singing This will be the day that I die Singing This will be the day that I die '
    'This will be the day that I die This will be the day that I die')

counter = Counter(text2.split())

print(f'{"WORD":<12}COUNT')
for word, count in sorted(counter.items()):
    print(f'{word:<15}{count}')
    
print('\nNumber of unique words:', len(counter)) ## Kim Leach - American Pie Chorus lyrics x2

WORD        COUNT
American       2
But            2
Chevy          2
Drove          2
I              4
Miss           2
Pie            2
Singing        2
So             2
Them           2
This           4
and            2
be             4
boys           2
bye            4
day            4
die            4
drinking       2
dry            2
good           2
levee          4
my             2
old            2
rye            2
that           4
the            8
to             2
was            2
were           2
whiskey        2
will           4

Number of unique words: 31

In [53]:
import random

In [55]:
numbers = [random.randrange(1, 6) for i in range(50)]

from collections import Counter

counter = Counter(numbers)

for value, count in sorted (counter.items()):
    print(f'{value:<6}{count}')

1     10
2     12
3     4
4     14
5     10

In [56]:
country_codes = {}

In [57]:
country_codes.update ({'South Africa': 'za'})
country_codes

{'South Africa': 'za'}

In [58]:
country_codes.update ({'Australia': 'ar'})
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [59]:
country_codes.update ({'Australia': 'au'})
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [60]:
months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [61]:
months2 = {number: name for name, number in months.items()}
months2

{1: 'January', 2: 'February', 3: 'March', 12: 'December'}

In [65]:
grades = {'Kim': [98, 87, 94], 'Leach': [54, 95, 91]}

In [66]:
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}
grades2

{'Kim': 93.0, 'Leach': 80.0}

In [67]:
{number: number ** 3 for number in range(1, 6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

6.3 Sets - set is an unordered collection of unique values
    * May contain only immutable objects like strings, ints, floats, and tuples that contain only immutable elements
    * Sets are iterable, but are not sequences and do not support indexing and slicing with square brackets.

In [68]:
#creating a set with curly braces

colores = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

In [69]:
colores

{'blue', 'green', 'orange', 'red', 'yellow'}

Duplicate eilimination of red and sets are unordered

In [70]:
len(colores)

5

In [71]:
'red' in colores

True

In [72]:
'purple' in colores

False

In [73]:
'Red' in colores

False

In [75]:
for color in colores:
    print(color.upper(), end=' ')

RED BLUE GREEN YELLOW ORANGE

In [76]:
numbers = list(range(10)) + list(range(5))

In [77]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [78]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
set()

set()

In [80]:
text = 'to be or not to be that is the question'

unique_words = set(text.split())

for word in sorted(unique_words):
    print(word, end=' ')

be is not or question that the to

In [81]:
# == to evaluate if they have the same values

{1, 3, 5} == {3, 5, 1}

True

In [83]:
# < tests whether the set is a proper subset and the sets are not equal

{1, 2, 5} < {2, 5, 1}

False

In [84]:
{1, 2, 5} < {2, 5, 1, 7}

True

In [85]:
# <= tests whether the set is an improper subset and the sets might be equal

{1, 2, 5} <= {2, 5, 1}

True

In [86]:
{1, 2, 5} <= {2, 5, 1, 7}

True

In [88]:
# can also check for imporper subset with the set method issubset:

{1, 3, 5}.issubset({3, 5, 1})

True

In [89]:
{1, 2}.issubset({3, 5, 1})

False

In [90]:
# > tests whether the set is a proper superset and the left operand has more elements

{1, 2, 5} > {2, 5, 1}

False

In [91]:
{2, 5, 1, 7} > {1, 2, 5}

True

In [92]:
# >= tests whether the set to the left is an imporper superset of the one to the right and the sets might be equal

{1, 2, 5} >= {2, 5, 1}

True

In [94]:
{2, 5, 1, 7} >= {1, 3, 5}

False

In [95]:
set('abc def ghi jkl mno').issuperset('hi mom')

True

6.3.2 Mathematical set operations

In [96]:
# union is a set consisting of all the unique elements from both sets; calculate with the | operator or with set type's union method: (like a full outer join)

{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [100]:
{1, 3, 5, 20, 40}.union([20, 20, 3, 40, 4])

{1, 3, 4, 5, 20, 40}

In [101]:
# intersetcion consists of all the unique elements that two sets have in common (like an inner join); use the & or .intersection

{1, 3, 5, 20, 40} & {20, 20, 3, 40, 4}

{3, 20, 40}

In [102]:
{1, 3, 5, 20, 40}.intersection([20, 20, 3, 40, 4])

{3, 20, 40}

In [103]:
# difference consists of the elements of both sets that are on the left but not on the right; use the - or .diference 

{1, 3, 5, 20, 40} - {20, 20, 3, 40, 4}

{1, 5}

In [104]:
{1, 3, 5, 20, 40} .difference({20, 20, 3, 40, 4})

{1, 5}

In [105]:
# symmetric difference consists of the elements of both sets that are not in common; use the ^ or .symmetric_difference

{1, 3, 5, 20, 40} ^ {20, 20, 3, 40, 4}

{1, 4, 5}

In [106]:
{1, 3, 5, 20, 40}.symmetric_difference({20, 20, 3, 40, 4})

{1, 4, 5}

In [108]:
#disjoint two sets are disjoint if they do not have any common elements

{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [109]:
{1, 3, 5}.isdisjoint({1, 4, 6})

False

In [110]:
{10, 20, 30} -  {5, 10, 15, 20}

{30}

In [111]:
{10, 20, 30} ^  {5, 10, 15, 20}

{5, 15, 30}

In [112]:
{10, 20, 30} | {5, 10, 15, 20}

{5, 10, 15, 20, 30}

In [113]:
{10, 20, 30} & {5, 10, 15, 20}

{10, 20}

6.33 Mutable set operators and methods - preceding section operators and methods result in a new set, the following modify and existing set
    * mutable mathematical set operations; untion autmented assignment |= performs a set untion opration but |= modifies its left operand.

In [114]:
numbers = {1, 3, 5}

In [115]:
numbers |= {2, 3, 4}

In [116]:
numbers

{1, 2, 3, 4, 5}

In [117]:
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

The other mutable set methods are
    intersection augmented assignment &= OR intersection_update
    difference augmented assignment -= OR difference_update
    symmetric differenct augmented assignment ^= OR symmetric_difference_update

In [123]:
#methods for adding and removing elements: set method add and remove add if not already in the set otherwise its unchanged and remove respectively
#(.discard revmoes the argument from the set but does not cause an exception if the value is not in the set

numbers.add(17)
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [130]:
## Kim Leach
numbers.add(8)
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [121]:
numbers.remove(17)
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [122]:
numbers.pop() #removes an ARBITRARY element
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [126]:
numbers.discard(19) #removes but does not cause exception of the value is not in the set like 19
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [127]:
numbers.clear()
numbers

set()

In [128]:
numbers = {1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10}

evens = {item for item in numbers if item % 2 == 0}

evens

{2, 4, 6, 8, 10}

In [129]:
print('My Name is Kim Leach')

My Name is Kim Leach